.register-page {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #fffffe;
  background: linear-gradient(
    to right,
    #232946 0%,
    #232946 46%,
    black 47%,
    #121629 47%,
    #121629 100%
  );
}

.register-page h4 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

.register-logo {
  width: 200px;
}

.register-email-input, .register-password-input, .register-username-input {
  height: 50px;
}

.register-button {
  background-color: #eebbc3;
  color: #121629;
  border-color: #eebbc3;
}

@media screen and (max-width: 820px) {
  .register-page {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #b8c1ec;
  background: linear-gradient(
    to right,
    #232946 0%,
    #232946 12%,
    black 13%,
    #121629 13%,
    #121629 100%
    );
  }

  .register-form-section {
    margin-top: 20px;
  }

  .register-email-input, .register-password-input, .register-username-input {
    height: auto;
  }
}
